.accordion {
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    &:focus-visible {
      & + label {
        font-weight: bold;
      }
    }
  }

  &__item {
    position: relative;
  }

  &__content {
    display: none;
    *:checked + * + & {
      display: block;
    }
  }
}
