@import "components/footer";
@import "components/component";
@import "components/navigation";
@import "components/grid";

#app {
  width: 100%;
  flex: 1 0 0;
  margin: 0 auto;
}

.ds-body {
  --ds-bg-color: #f6f6f7;
  --ds-border-color: #dddddd;
  --ds-font-color: #213547;
  --ds-title-color: #646cff;
  --ds-max-width: 1024px;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: 768px) {
    margin-left: 250px;
  }

  &.is-aside-hidden {
    @media (min-width: 768px) {
      margin-left: 0;
    }
  }
}


.ds-main {
  h2 {
    text-transform: capitalize;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    text-transform: capitalize;
  }
}
