<main class="ds-main">
    <div class="container">
      <h1>Grid</h1>
      <div class="row">
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
        <div class="col-6 col-sm-1 ds-column"></div>
      </div>
    </div>
  </main>
  