<main class="ds-main">
  <div class="container">
    <h1>Typography</h1>
    <hr>
    
    <h1>H1 Headig</h1>
    <h2>H2 Headig</h2>
    <h3>H3 Headig</h3>
    <h4>H4 Headig</h4>
    <h5>H5 Headig</h5>
    <h6>H6 Headig</h6>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit officiis, architecto necessitatibus facere doloremque reiciendis quae dicta provident rem? Nam tempore voluptate optio maxime reprehenderit a recusandae illo aspernatur neque!</p>

    <p><strong>Strong</strong></p>
    <p><i>Italic</i></p>
    <p><u>Underlined</u></p>

    <ul>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <ol>
      <li>List item</li>
      <li>List item</li>
    </ol>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi neque perferendis praesentium a. Illo beatae nam nostrum culpa laboriosam dolores molestiae, harum doloribus consequatur! Eum odio quas ex commodi delectus.</blockquote>
    
  </div>
</main>
