// Colours
$color-black: #000;
$color-white: #fff;
$color-primary: green;
$color-secondary: red;

$colours: (
  transparent: transparent,
  white: #fff,
  black: #000,
);


// Breakpoints
// -------------------------
$breakpoints: (
    xs: 560px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

$grid-columns: 12;

$max-width: (
    xs: 560px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

// Fonts
$font-initial: 10px;
$font-family: 'Arial', 'Helvetica', sans-serif;